{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Change" %}{% endblock title %}
{% block content %}
<h2>{% trans "question" %}</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ catalog.category }}</h5>
			<h4 class="card-title">{{ catalog.catalog_title }}</h4>								
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					{% if catalog.id == 1 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog01.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 2 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog02.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 3 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog03.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 4 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog04.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 5 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog05.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 6 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog06.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 7 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog07.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 8 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog08.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 9 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog09.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 10 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog10.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 11 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog11.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 12 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog12.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 13 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog13.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 14 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog14.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 15 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog15.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 16 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog16.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 17 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog17.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 18 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog18.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 19 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog19.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 20 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog20.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 21 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog21.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 22 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog22.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 23 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog23.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 24 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog24.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 25 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog25.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 26 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog26.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 27 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog27.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 28 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog28.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 29 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog29.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 30 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog30.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 31 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog31.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 32 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog32.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 33 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog33.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 34 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog34.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% elif catalog.id == 35 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog35.jpg' %}" alt="{{ catalog.photo.url }}">    
					{% else %}
						{% if catalog.photo.url != None %}
							<img style="width:100%" src="{{ catalog.photo.url}}" alt="{{ catalog.photo.url }}">
						{% endif %}
					{% endif %}
					<p><div class="Stars" style='--rating: {{ catalog.avg_rating| stringformat:".1f" }};'></div></p>												
				</div>
				<div class="col-md-4">
					<p>{{ catalog.details | linebreaks}}</p>
					<h4>{{ catalog.price | stringformat:"1.0f" }} ₸</h4>	
				</div>				
				<div class="col-md-5">
					<p>{{ question.date_question | date:"d.m.Y H:i"}}</p>
					<h3>{{ question.user.first_name }} {{ question.user.last_name }}<br>{{ question.user.email }}</h3>		
					<p><strong>{% trans "question" %}:</strong> {{ question.question | linebreaks}}</p>
					<table>
						{{ form }}
					</table>
					<div class="div-button-center">
						<button type="submit" class="btn btn-outline-success" style="width:120px">{% trans "Save" %}</button>	
						<a class="btn btn-outline-info" style="width:120px" href="{% url 'question_index' %}">{% trans "Back" %}</a> 	
					</div>	
				</div>				
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>		
</form>
{% endblock content %}