{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "about" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% if LANGUAGE_CODE == 'kk' %}
	<div class="div-width-100-text-center">
		<h3>CUPPER компаниясы туралы</h3>
	</div>
	<div>
		<h4>Құрметті клиенттер, серіктестер және достар!</h4>
		<img class="img-center3" alt="CUPPER негізін қалаушы" src="{% static 'images/about1.png' %}" height="" title="CUPPER негізін қалаушы" align="middle">
		<p>Сіздерді «КУППЕР» компаниясының сайтында қарсы алғаныма қуаныштымын. Біздің компания тозудан қорғаудың ең жоғары деңгейін қамтамасыз ететін және тиімділікті арттыратын мыс иондары негізіндегі майлау материалдарын әзірлеуде көшбасшы болып табылады.</p>
		<p>Біздің өнімдеріміздің өзіндік патенттелген CLAD технологиясы бойынша жасалғанын мақтан тұтамыз. Дәл осы себепті CUPPER ешқашан импорттық қоспаларға тәуелді болған емес, бұл бізге сапалы майлар шығаруды жалғастыруға мүмкіндік береді.</p>
		<p>Біздің жұмысымыздың негізінде кеңес дәуірінде басталып, біз халықаралық стандарттардан асып түсетін деңгейге дейін жетілдірген трибология және металл плакировкалау саласындағы озық зерттеулер мен бірегей әзірлемелер жатыр. Біз жабдықтың қызмет ету мерзімін ұзартып қана қоймай, оның жұмысын үнемді әрі экологиялық қауіпсіз ететін майлар жасаймыз.</p>
		<p>Біз болашақ әлемді таза әрі тиімдірек ететін технологияларда деп сенеміз. CUPPER өз пайдаланушылары мен серіктестеріне үлкен жетістіктерге жетуге көмектесетін шешімдер ұсына отырып, алда болуға ұмтылады.</p>
		<p>Сенім білдіргендеріңіз үшін рахмет! Біз нарықтағы ең үздік өнімдерді ұсына отырып, сіздермен бірге алға жылжуға қуаныштымыз.</p>
		<p>Құрметпен, Сергей Михайлович Мамыкин, «КУППЕР» компаниясының негізін қалаушы</p>
		<h4>CUPPER компаниясы туралы</h4>
		<p>«КУППЕР» ЖШҚ — мыс иондары негізіндегі майлау материалдарын өндірудегі инновациялық көшбасшы. Біз — өнеркәсіптік және жеке клиенттер үшін өнімдеріміздің жоғары сенімділігі мен тиімділігін қамтамасыз ете отырып, бірегей мыс құрамды майларды кеңінен қолдануға бейімдеген әлемдегі алғашқы ғылыми-өндірістік компаниямыз.</p>
		<img class="img-center3" alt="CUPPER майлары мен жағармайлары" src="{% static 'images/about2.png' %}" height="" title="CUPPER майлары мен жағармайлары" align="middle">	
		<h4>CLAD© мыс иондары технологиясы</h4>
		<p>CUPPER майлау материалдары патенттелген CLAD© (Cuprum Lining Antiwear Defense) мыс клэддингі технологиясы бойынша жасалған. Мыс иондарын бағыттап қолданудың бірегей әдістемесі тозуды айтарлықтай азайтады және жабдықтың қызмет ету мерзімін ұзартады. CUPPER экологиялық тазалыққа басымдық береді: біздің өнімдерімізде күкірт пен фосфор жоқ, бұл іс жүзінде нөлдік күлділікті (NO SAPS) қамтамасыз етеді. Бұл тәсіл сутегі тозуынан сенімді қорғанысқа кепілдік береді және пайдалану шығындарын барынша азайтады.</p>
		<h4>Пайдалану артықшылықтары мен дәлелденген тиімділік</h4>
		<p>10 жылдан астам уақыт бойы CUPPER өнімдері зертханалық және шынайы жағдайларда қатаң сынақтардан өтуде. Бұл сынақтар техникалық қызмет көрсету шығындарын азайту, бөлшектердің тозуын төмендету және жабдықты пайдалану үнемділігін арттыру сияқты артықшылықтарды растайды. CUPPER бірқатар ресейлік университеттермен және ірі өнеркәсіптік кәсіпорындармен белсенді жұмыс істей отырып, тіпті қарқынды жүктемелер кезінде де тұрақты нәтижелерге кепілдік береді.</p>
		<img class="img-center3" alt="CUPPER технологиясы" src="{% static 'images/about3.png' %}" height="" title="CUPPER технологиясы" align="middle">
		<h4>Өндірістік кешен және зертханалар</h4>
		<p>Орехово-Зуеводағы біздің өндірістік кешеніміз сақтауға, автоматты түрде беруге және өнім дайындауға арналған заманауи контакторлармен, өлшеп-орау желілерімен жабдықталған. Өнім сапасын тазарту және сапаны бақылау жүйелері қамтамасыз етеді. Кешен құрамына кіретін зертхана негізінде тұрақты мониторинг жүргізіліп, шикізаттың әрбір партиясы мен дайын өнімге талдау жасалады. </p>
		<p>Дайын өнім еш кідіріссіз жақын маңдағы қоймаға жеткізіліп, тұтынушыға дейінгі жол уақытын барынша қысқартады.</p>
		<p>Өндірістік-қойма кешені 2023-2024 жылдары жаңартылды және жылына 10 мың тоннаға дейін май, жағармай және қоспалар шығару қуатына ие, бұл компанияға нарық сұраныстарына жедел жауап беруге мүмкіндік береді. </p>
		<p>Мәскеуде орналасқан CUPPER ғылыми-зерттеу тобы сапаны екі деңгейлі бақылауды жүзеге асырады және ғылыми әзірлемелер жүргізеді, бұл жаңа өнімдердің тәжірибелік партияларын тез шығаруға және олардың тиімділігін сынауға мүмкіндік береді.</p>
		<p>Сондай-ақ, И.М. Губкин атындағы Ресей мемлекеттік мұнай және газ университеті сияқты Мәскеудің жетекші университеттерімен серіктестікте мұнай химиясы саласындағы инновациялық технологиялар бойынша жаңа ғылыми-өндірістік кадрларды даярлауға ерекше көңіл бөлінеді.</p>
		<img class="img-center3" alt="CUPPER ассортименті" src="{% static 'images/about4.png' %}" height="" title="CUPPER ассортименті" align="middle">
		<h4>Өнім ассортименті</h4>
		<p>2012 жылдан бастап CUPPER бренді өнімдердің кең таңдауымен танымал:</p>
		<ul>
			<li>Мотор және трансмиссия майлары: автомобильдер мен ауыр техникалар үшін тиімді, жоғары жүктемелерге төзімді.</li>
			<li>Гидравликалық майлар: гидравликалық жүйелерге арналған жоғары өнімді майлар.</li>
			<li>Редукторлық және компрессорлық майлар: теміржол көлігінде, тау-кен және өндірістік техникада қолданылады.</li>
			<li>Автоспорт пен хоббиге арналған майлар: автомобильдерге, мотоциклдерге, велосипедтерге және тіпті кәсіби балық аулауға арналған мамандандырылған майлар.</li>
		</ul>
		<p>Біздің өнімдеріміз автоәуесқойлардың кең ауқымы үшін де, корпоративтік автопарктер, ауыл шаруашылығы және өндіру техникалары үшін де таптырмас құрал, сондай-ақ өзен және теміржол көлігінде де қолданылады.</p> 	
		<img class="img-center3" alt="CUPPER ассортименті " src="{% static 'images/about5.png' %}" height="" title="CUPPER ассортименті " align="middle">	
		<h4>Техникалық қолдау және сервис</h4>
		<p>Біз үшін өнімнің сенімділігі — бұл тек формула ғана емес, сонымен қатар дұрыс қолдану. КУППЕР клиенттерге кәсіби техникалық қолдау ұсынады: сәйкес өнімді таңдау және өту технологиясы бойынша кеңес беруден бастап, бақылаудағы пайдалануға және өнеркәсіптік нысандарға шығуға дейін. </p>
		<p>Өнім туралы толық білімі бар тәжірибелі мамандар өнімнің жаңа серия алдындағы үлгілерін стендтік немесе натурлық сынақтан өткізуді және бақылауды қамтамасыз етеді.</p>
		<p>Корпоративтік сервис аясында біз серіктес компаниялардың қызметкерлерін оқытамыз, май талдауы арқылы техника мен тораптардың күйіне мониторинг жүргіземіз және өнімдерімізді жетілдіру үшін жүйелі түрде кері байланыс жинаймыз.</p>
		<img class="img-center3" alt="CUPPER майларын тамшылатып сынау" src="{% static 'images/about6.png' %}" height="" title="CUPPER майларын тамшылатып сынау" align="middle">		
		<h4>CUPPER спортта</h4>
		<p>CUPPER спорттық командалар мен федерацияларды белсенді қолдайды, автомобиль, мотоцикл және су моторы дисциплиналарында ресми серіктес ретінде өнер көрсетеді. Біздің майларымыз бен жағармайларымыз Ресейдің ірі спорттық ареналарында сыналған, бұл спортшыларға жаңа белестерді бағындыруға көмектеседі. Спорт арқылы CUPPER майлау материалдары экстремалды жағдайларда тексерілу мүмкіндігіне ие болады, бұл олардың ерекше сенімділігі мен тиімділігін қамтамасыз етеді. Біз велосипед жағармайлары желісі Ресей велоспорт федерациясымен тығыз ынтымақтастықта әзірленгенін, ал 2024 жылы бесікті мотоцикл мінген спортшылар командасы біздің майларымызбен Ресей чемпионатында жеңіске жеткенін ерекше мақтан тұтамыз.</p>
		<h4>Интернет-дүкен және сату нүктелері</h4>
		<p>CUPPER өнімдерін дилерлердің кең желісінің, сондай-ақ біздің интернет-дүкеніміз бен маркетплейс алаңдарының арқасында 47 аймақта, сондай-ақ Беларусь пен Қазақстанда сатып алуға болады.</p>
		<p>Мәскеуде бөлшек сауда нүктесі жұмыс істейді, онда біздің менеджерлер әрқашан егжей-тегжейлі кеңес беруге және кез келген техника үшін сәйкес өнімді таңдауға көмектесуге дайын.</p>
	</div>	
{% else %}
	<div class="div-width-100-text-center">
		<h3>О компании CUPPER</h3>
	</div>
	<div>
		<h4>Уважаемые клиенты, партнеры и друзья!</h4>
		<img class="img-center3" alt="Основатель CUPPER" src="{% static 'images/about1.png' %}" height="" title="Основатель CUPPER" align="middle">
		<p>Приветствую вас на сайте компании «КУППЕР». Наша компания является лидером по разработке смазочных материалов на основе ионов меди, которые обеспечивают высочайший уровень защиты от износа и повышения эффективности.</p>
		<p>Мы гордимся, что наша продукция создана по собственной запатентованной технологии CLAD. Именно поэтому CUPPER никогда не зависел от импортных присадок, что позволяет нам продолжать выпуск качественных масел.</p>
		<p>В основе нашей работы лежат передовые исследования и уникальные разработки в области трибологии и металлоплакирования, начатые еще в советское время и усовершенствованные нами до уровня, превосходящего международные стандарты. Мы создаем масла, которые не просто продлевают срок службы оборудования, но и делают его работу более экономичной и экологически безопасной.</p>
		<p>Мы верим, что будущее за технологиями, которые делают мир чище и эффективнее. CUPPER стремится быть впереди, предлагая решения, которые помогают нашим пользователям и партнерам добиваться большего.</p>
		<p>Спасибо Вам за доверие! Мы рады продолжать вместе двигаться вперед, предлагая вам лучшие продукты на рынке.</p>
		<p>С уважением, Сергей Михайлович Мамыкин, Основатель компании «КУППЕР»</p>
		<h4>О компании CUPPER</h4>
		<p>ООО «КУППЕР» — инновационный лидер в производстве смазочных материалов на основе ионов меди. Мы — первая в мире научно-производственная компания, адаптировавшая уникальные медьсодержащие масла для широкого применения, обеспечивая высокую надёжность и эффективность наших продуктов для промышленных и частных клиентов.</p>
		<img class="img-center3" alt="масла и смазки CUPPER" src="{% static 'images/about2.png' %}" height="" title="масла и смазки CUPPER" align="middle">	
		<h4>Технология ионов меди CLAD©</h4>
		<p>Смазочные материалы CUPPER созданы по запатентованной технологии медного клэддинга CLAD© (Cuprum Lining Antiwear Defense). Наша уникальная методика направленного применения ионов меди значительно уменьшает износ и продлевает срок службы оборудования. CUPPER делает ставку на экологичность: наши продукты не содержат серы и фосфора, обеспечивая практически нулевую зольность (NO SAPS). Этот подход гарантирует надёжную защиту от водородного износа и минимизирует эксплуатационные расходы.</p>
		<h4>Эксплуатационные преимущества и доказанная эффективность</h4>
		<p>На протяжении более 10 лет продукты CUPPER проходят строгие испытания в лабораторных и реальных условиях. Эти тесты подтверждают такие преимущества, как снижение затрат на техническое обслуживание, уменьшение износа деталей и повышение экономичности эксплуатации оборудования. CUPPER активно сотрудничает с рядом российских университетов и крупных промышленных предприятий, гарантируя стабильные результаты даже при интенсивных нагрузках.</p>
		<img class="img-center3" alt="Технология CUPPER " src="{% static 'images/about3.png' %}" height="" title="Технология CUPPER " align="middle">
		<h4>Производственный комплекс и лаборатории</h4>
		<p>Наш производственный комплекс в Орехово-Зуево оснащён современным контакторами для хранения, автоматической подачи и изготовления продукции, линиями фасовки. Качество продукции обеспечивают системы очистки и контроля качества. На базе включенной в комплекс лаборатории ведётся постоянный мониторинг, осуществляется анализ каждой партии сырья и готовой продукции. </p>
		<p>Готовая продукция с минимальной задержкой поставляется на расположенный в непосредственной близости склад, максимально сокращая время в пути до потребителя.</p>
		<p>Производственно-складкой комплекс обновлен в 2023-2024 гг и имеет мощность до 10 тысяч тонн масел, смазок и присадок в год, что позволяет компании оперативно реагировать на запросы рынка. </p>
		<p>Научно-исследовательская команда CUPPER, расположенная в Москве осуществляет двойной контроль качества и ведет научные разработки, что даёт возможность быстро выпускать опытные партии новых продуктов и тестировать их эффективность.</p>
		<p>Также пристальное внимание уделяется подготовке новых научно-производственных кадров в сфере инновационных технологий в области нефтехимии в партнерстве с ведущими университетами Москвы, такими как РГУ нефти и газа им. И.М. Губкина</p>
		<img class="img-center3" alt="ассортимент CUPPER" src="{% static 'images/about4.png' %}" height="" title="ассортимент CUPPER" align="middle">
		<h4>Ассортимент продукции</h4>
		<p>С 2012 года бренд CUPPER представлен широким ассортиментом продукции:</p>
		<ul>
			<li>Моторные и трансмиссионные масла: эффективны для автомобилей и тяжёлой техники, устойчивы к высоким нагрузкам.</li>
			<li>Гидравлические масла: высокопроизводительные масла для гидравлических систем.</li>
			<li>Редукторные и компрессорные масла: применяются на железнодорожном транспорте, горнорудной и производственной технике.</li>
			<li>Масла для автоспорта и хобби: специализированные масла для автомобилей, мотоциклов, велосипедов и даже для профессиональной рыбалки.</li>
		</ul>
		<p>Наши продукты незаменимы как для широкого круга автолюбителей, так и для корпоративных автопарков, сельскохозяйственной и добывающей техники, а также используются на речном и железнодорожном транспорте.</p> 	
		<img class="img-center3" alt="ассортимент CUPPER " src="{% static 'images/about5.png' %}" height="" title="ассортимент CUPPER " align="middle">	
		<h4>Техническая поддержка и сервис</h4>
		<p>Для нас надёжность продукта — это не только формула, но и правильное применение. КУППЕР предлагает клиентам профессиональную техническую поддержку: от консультирования по подбору подходящего продукта и технологии перехода, до подконтрольной эксплуатации и выездов на объекты промышленного применения. </p>
		<p>Специалисты-практики, обладающие самыми полными знаниями о продукте, обеспечивают проведение и контроль стендовых или натурных испытаний новых предсерийных образцов продукции.</p>
		<p>В рамках корпоративного сервиса мы проводим обучение сотрудников компаний-партнёров, ведем мониторинг состояния техники и узлов через анализы масла и регулярно собираем обратную связь для совершенствования наших продуктов.</p>
		<img class="img-center3" alt="Тест масел капля CUPPER" src="{% static 'images/about6.png' %}" height="" title="Тест масел капля CUPPER" align="middle">		
		<h4>CUPPER в спорте</h4>
		<p>CUPPER активно поддерживает спортивные команды и федерации, выступая официальным партнёром в автомобильных, мотоциклетных и водномоторных дисциплинах. Наши масла и смазки проверены на крупнейших спортивных аренах России, помогая спортсменам достигать новых высот. Через спорт смазочные материалы CUPPER получает возможность проверки в экстремальных условиях, что обеспечивает их исключительную надёжность и эффективность. Мы особенно гордимся тем, что линейка велосипедных смазок была разработана в тесном сотрудничестве с Федерацией велоспорта России, а команда спортсменов на мотоциклах с колясками в 2024 году взяла первенство России на наших маслах.</p>
		<h4>Интернет-магазин и точки продаж</h4>
		<p>Продукция CUPPER доступна для покупки в 47 регионах, а также Белоруссии и Казахстане благодаря широкой сети дилеров, а также нашему интернет-магазину и площадкам маркетплейсов.</p>
		<p>В Москве работает розничная точка, где наши менеджеры всегда готовы дать подробные консультации и помочь подобрать подходящий продукт для любой техники.</p>
	</div>
{% endif %}
{% endblock content %}
