{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "discount" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% if LANGUAGE_CODE == 'kk' %}
<div class="div-width-100-text-center">
		<h3>Науқандар мен жеңілдіктер</h3>
	</div>
	<div>
		<h4>CUPPER CLUB-пен 10% жеңілдік</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount1.png' %}" height="" align="middle">
		<h5>Клуб мүшесі не алады?</h5>
		<ul>
			<li>CUPPER өнімдеріне 10% жеңілдік</li>	
			<li>Компанияның жаңалықтары мен науқандары туралы жеке хабарландыру</li>	
			<li>Іс-шаралар мен ұтыс ойындарына қатысу</li>	
		</ul>
		<h5>Клубқа мүше болу үшін не істеу керек?</h5>
		<ol>
			<li>5000 рубльден басталатын сомаға сатып алу жасаңыз.</li>	
			<li>Біздің әлеуметтік желілердің бірінде CUPPER-ге қосылыңыз. Youtube Cupper, ВКонтакте Cupper</li>	
			<li>CUPPER өнімдері туралы пікіріңізді (шынайы пікір, көлігіңіз бен біздің өніміміздің фотосы болғаны абзал) мына жерде жариялаңыз: Отзовик - <a target="_blank" href="https://otzovik.com/reviews/motornoe_maslo_cupper/">https://otzovik.com/reviews/motornoe_maslo_cupper/</a></li>	
			<li>Сауалнаманы толтырып, жарияланымға сілтемені қоса беріңіз.</li>	
			<li>Келесі тапсырыс кезінде сіз клубтық карта мен жеңілдік аласыз.</li>	
		</ol>
		<h4>Әр дос үшін 15% кешбэк</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount2.png' %}" height="" align="middle">
		<h5>Лояльділік бағдарламасы</h5>	
		<p>CUPPER өнімдерін таңдағаныңыз үшін рахмет!
		<p>Енді сіз өзіңіздің жеке купоныңызбен бөлісіп, достарыңыз жасаған сатып алулардан бонус ала аласыз. Ол үшін не істеу керек?</p> 	
		<ol>
			<li>Тіркеліңіз немесе өз құпия сөзіңізбен жүйеге кіріңіз.</li>	
			<li>Промокодыңызды көшіріп, достарыңызға жіберіңіз.</li>	
			<li>Промокодты пайдаланып, CUPPER-дің жаңа клиенті болған әрбір досыңыз алғашқы тапсырысына 15% жеңілдік алады.</li>	
			<li>Сіз промокодыңыз арқылы жасалған әрбір тапсырыстан 15% кешбэк аласыз. Сондай-ақ, жеке кабинет арқылы сайттан ресімделген әрбір келесі тапсырыстан 10% кешбэк беріледі. Назар аударыңыз: менеджер арқылы телефонмен, чат арқылы немесе сату кеңсесіне келгенде жасалған тапсырыстар есепке алынбайды. Кешбэк тек досыңыз алғашқы сатып алу кезінде сайтта жасалған жеке кабинетінде тапсырысты өз бетінше ресімдегенде ғана есептеледі.</li>	
			<li>Кешбэк жинаңыз, оның көмегімен келесі сатып алулар құнының 99,9%-на дейін төлей аласыз.</li>	
		</ol>
		<p>Кешбэк — бұл жеке кабинеттегі шотыңызға бонустық ұпайлардың жиналуы. 1 бонустық ұпай = келесі сатып алу кезіндегі 1 рубльге тең.</p> 	
		<p>*Кешбэк — жеке кабинеттегі шотыңызға <a target="_blank" href="https://cupper-shop.ru/loyalty/">бонустық ұпайлардың</a> есептелуі.<br>
		1 бонустық ұпай = келесі сатып алу кезіндегі 1 рубль</p> 	
		<p>Төлем үшін кешбэк жинауды бастау үшін мәтінді көшіріп, достарыңызға жіберіңіз:<br>
		«Сәлем! Мен CUPPER өнімдерін қолданамын. Менің промокодыммен <a target="_blank" href="https://cupper-shop.ru/loyalty/">COUPON_0000</a> тапсырыс бер де, алғашқы сатып алуыңа 15% жеңілдік ал!»</p> 	
		<p>*Ұсыныс жеке тұлғалар үшін тек cupper-shop.ru интернет-дүкенінде сатып алу кезінде жарамды</p> 	
		<h4>4 литрден басталатын мотор майын сатып алғанда, жуғыш автоэнергетикке 50% жеңілдік.</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount3.png' %}" height="" align="middle">
		<p>CUPPER майына ауысқан кезде мотор майын ауыстыруға 300 км қалғанда неліктен жуғыш автоэнергетикті құю керек? Ол үйкеліс жұптарын шөгінділерден тазартып, олардың көп бөлігін ерітеді. Бетті тегістеу және мыс қабықшасын түзу процесін іске қосады. Қорғаныс қабаты тек таза үйкеліс жұптарында ғана түзіледі.</p>
		<p>Егер жуу кезеңін елемейтін болсаңыз, сіз CUPPER өнімдері беретін артықшылықтардың бір бөлігін жоғалтасыз, сондай-ақ май жүйесінің бітелуіне жағдай жасайсыз. Егер іштен жану қозғалтқышын алдын ала жумай-ақ CUPPER майын құйсаңыз, майдың өзі жуу функциясын атқарады. Май жуып кеткен барлық қалдықтар келесі ауысымға дейін қозғалтқыштың май жүйесінде болады.</p>
		<p>Ауысуды жеңілдету үшін біз кез келген 4 литрден басталатын CUPPER мотор майын сатып алғанда, жуғыш автоэнергетикке 50% жеңілдік береміз.</p>
		<p>Жанармай шығынын азайтуға және май ауыстыру аралығын ұзартуға алғашқы қадам жасаңыз!</p>
		<p>*Ұсыныс жеке тұлғалар үшін cupper-shop.ru дүкенінде сатып алу кезінде жарамды және тапсырыс бойынша менеджер хабарласқан кезде белсендіріледі.</p>
	</div>	
{% else %}
	<div class="div-width-100-text-center">
		<h3>Акции и скидки</h3>
	</div>
	<div>
		<h4>Скидка 10% CUPPER CLUB</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount1.png' %}" height="" align="middle">
		<h5>Что получает участник клуба?</h5>
		<ul>
			<li>Скидка 10% на продукцию CUPPER</li>	
			<li>Адресное информирование о новинках и акциях компании</li>	
			<li>Участие в мероприятиях и розыгрышах</li>	
		</ul>
		<h5>Что нужно сделать, чтобы вступить в клуб?</h5>
		<ol>
			<li>Совершите покупку от 5000 руб.</li>	
			<li>Присоединитесь к CUPPER в одной из наших социальных сетей.  Youtube Cupper  ВКонтакте Cupper</li>	
			<li>Разместите свой отзыв о продукции CUPPER (честный отзыв, желательно с фото вашего авто и нашего продукта) тут: Отзовик - <a target="_blank" href="https://otzovik.com/reviews/motornoe_maslo_cupper/">https://otzovik.com/reviews/motornoe_maslo_cupper/</a></li>	
			<li>Заполните анкету и приложите ссылку на публикацию.</li>	
			<li>При следующем заказе вы получите клубную карту и скидку.</li>	
		</ol>
		<h4>Кешбэк 15% за каждого друга</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount2.png' %}" height="" align="middle">
		<h5>Программа лояльности</h5>	
		<p>Спасибо, что вы используете продукцию CUPPER!
		<p>Теперь вы можете поделиться своим личным купоном и получить бонусы с тех покупок, которые сделают ваши друзья. Что для этого нужно?</p> 	
		<ol>
			<li>Зарегистрируйтесь или войдите под своим паролем.</li>	
			<li>Скопируйте свой промокод и отправьте его друзьям.</li>	
			<li>Каждый ваш друг, который воспользуется промокодом и станет новым клиентом CUPPER, получит скидку 15% на первый заказ.</li>	
			<li>Вы получите кешбэк 15% с каждого заказа, сделанного с помощью вашего промокода. А также кешбэк 10% с каждого последующего заказа, оформленного через сайт из личного кабинета. Обратите внимание: заказы, оформленные через менеджера по телефону, через чат или при визите в офис продаж, не будут учитываться. Кешбэк поступит только с заказов, оформленных вашим другом самостоятельно в созданном при первой покупке личном кабинете на сайте.</li>	
			<li>Копите кешбэк, с его помощью вы сможете оплатить до 99,9% стоимости дальнейших покупок.</li>	
		</ol>
		<p>Кешбэк - это начисление на ваш счет в личном кабинете бонусных баллов. 1 бонусный балл = 1 рублю при следующей покупке.</p> 	
		<p>*Кешбэк - начисление на ваш счет в личном кабинете <a target="_blank" href="https://cupper-shop.ru/loyalty/">бонусных баллов</a>.<br>
		1 бонусный балл = 1 рублю при следующей покупке</p> 	
		<p>Скопируйте текст и отправьте друзьям, чтобы начать копить кешбек для оплаты:<br>
		«Привет! Я использую продукцию CUPPER. Сделай заказ по моему промокоду <a target="_blank" href="https://cupper-shop.ru/loyalty/">COUPON_0000</a> и получи скидку 15% на первый заказ!»</p> 	
		<p>*Предложение действительно для физических лиц, только при покупке в интернет-магазине cupper-shop.ru</p> 	
		<h4>Скидка 50% на промывочный автоэнергетик при покупке от 4 л моторного масла.</h4>
		<img class="img-center3" alt="discount" src="{% static 'images/discount3.png' %}" height="" align="middle">
		<p>Зачем при переходе на масло CUPPER за 300  км до замены моторного масла заливать промывочный автоэнергетик? Он очистит пары трения от отложений и растворит большую их часть. Запустит процесс выравнивания поверхности и создания слоя медной пленки. Защитный слой образуется только на чистых парах трения.</p>
		<p>Если игнорировать промывочный этап, вы упустите часть преимуществ, которые дает продукция CUPPER, а также создадите условия для засорения масляной системы. Если залить масло CUPPER без предварительной промывки ДВС, то само масло выполнит функцию промывки. Все, что отмоет масло, будет находиться в масляной системе двигателя до следующей замены.</p>
		<p>Чтобы облегчить вам переход, мы даем скидку 50% на промывочный автоэнергетик при покупке любого моторного масла CUPPER от 4 литров.</p>
		<p>Сделайте первый шаг к снижению расхода топлива и увеличению интервала между заменами масла!</p>
		<p>*Предложение действительно для физических лиц при покупке в магазине cupper-shop.ru и активируется менеджером при звонке по заказу.</p>
	</div>	
{% endif %}

{% endblock content %}
