{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "payment" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% if LANGUAGE_CODE == 'kk' %}
	<div class="div-width-100-text-center">
		<h3>Төлем және Жеткізу</h3>
	</div>
	<div>
		<div style="margin: 10px"><a target="_blank" class="btn btn-success" href="https://cupper-shop.ru/gde-kupit/"> <span class="full">&nbsp;&nbsp;Дүкендер, сату нүктелері&nbsp;&nbsp;</span> </a></div>
		<p>Біздің компания өз өнімдерін Ресейдің барлық аумағына жеткізуді жүзеге асырады.</p>
		<p>Компаниямыздың логистикалық серіктесі — CDEK компаниясы.</p>
		<p>Ресей аумағындағы тапсырыстарды жеткізу тәсілдері, мерзімдері мен құны интернет-дүкен менеджерімен жеке келісіледі.</p>
		<p>Ресей Федерациясынан тыс жерлерге жеткізу жеке келісіледі және авиатасымалдардың қауіпсіздік нормаларына сәйкес жүзеге асырылады.</p>
		<h4>Жеткізу</h4>
		<ul>
			<li>Ресімделген тапсырысты Мәскеу қ., 2-ші Рыбинская, 13-үй мекенжайы бойынша алып кетуге және төлеуге болады<br>(Дс-Жм 9:00-ден 20:30-ға дейін, Сн-Жк 9:30-дан 18:00-ге дейін.)</li>
			<li>CDEK көлік компаниясымен мекенжайға дейін жеткізу</li>
			<li>CDEK КК-мен тапсырыстарды беру пунктіне дейін жеткізу</li>
			<li>Мәскеу бойынша CDEK КК жеткізуі тапсырыс берілген және ол келісілген сәттен бастап келесі күні немесе бір күннен кейін жүзеге асырылады. Мәскеу облысы — 2-3 күн.</li>
			<li>Заңды тұлғаларға жеткізу келісім бойынша басқа көлік компанияларымен жүзеге асырылуы мүмкін.</li>
		</ul>	
		<p>Өз қалаңызда CDEK КК беру пункті бар-жоғын тексеріңіз: <a target="_blank" href="https://www.cdek.ru/contacts/city-list.html">https://www.cdek.ru/contacts/city-list.html</a></p>
		<p>Сәлемдеменің күйін және басқа да қосымша ақпаратты мына мекенжайдан білуге болады: <a target="_blank" href="https://www.cdek.ru/track.html">https://www.cdek.ru/track.html</a></p>
		<h4>Жүкке қатысты мәселелер бар ма?</h4>
		<p>Құрметті сатып алушылар!
		<p>Біз сіздердің тауарларымыз бен қызметтеріміздің сапасына риза болуларыңыз үшін бәрін жасаймыз.</p>
		<p>Өкінішке орай, жеткізу сапасына қатысты мәселелер кездеседі, атап айтқанда, жүкті КК-дан алған кезде сатып алушыларымыз қаптаманың бүтіндігінің бұзылғаны немесе басқа да мәселелер туралы хабарлайды. Бұл үшін жауапкершілік толығымен көлік компаниясына жүктеледі!</p>
		<p>Біз мұндай жағдайларды азайту үшін бар күшімізді саламыз, бірақ сіздердің көмектеріңізсіз көлік компанияларының жүктерге деген немқұрайлы қарауын жеңе алмаймыз. Сіздерден осы мәселеде бізге көмектесулеріңізді өтінеміз.</p>
		<p>Барлық жүктер сақтандырылғандықтан және қабылдау алдында тексеруден өтетіндіктен, сіз жүктен бас тартуға, акт толтыруға және беру пунктінде тексеру кезінде суретке түсіруге толық құқығыңыз бар. Бұл тек КК-ның өзінде сәлемдемені ашқан кезде ақаулар мен зақымдануларды байқаған жағдайда ғана мүмкін болады. Осылайша, зақымдану мәселесінің күйі мен себебін анықтау оңайырақ болады. Бұл өте маңызды сәт!</p>
		<p>Зақымдалған жүк туралы барлық сұрақтарды, ұсыныстар мен сұраныстарды мына электрондық поштаға жіберулеріңізді сұраймыз: <a href="mailto:info@cupper.ru">info@cupper.ru</a></p>
		<p>Хаттың тақырыбында тапсырыс нөмірін және хаттың сипатын көрсету қажет: "Жүктің зақымдануы. Тапсырыс №".</p>
		<p>Сәлемдеме туралы барынша толық ақпаратты сипаттаңыз, сондай-ақ хатқа фотосуреттер мен жүктің зақымдануы туралы актіні қоса берсеңіз, мәселені шешу әлдеқайда жеңіл болады.</p>
		<p>Тек осылай ғана көлік компанияларын клиенттер алдындағы міндеттемелерін сапалы орындауға мәжбүрлеуге болады.</p>
		<p>Әрқайсымыз риза болатындай нәтижеге бірге қол жеткізейік.</p>
		<p>Бізге сіздердің көмектеріңіз бен атсалысуларыңыз өте қажет!</p>
		<p>Рахмет!</p>
		<h4>Төлем</h4>
		<ul>
			<li>Интернет-дүкен кеңсесінде тапсырысты алған кезде қолма-қол ақшамен немесе банктік картамен.</li>
			<li>Тауар мен жеткізу үшін алдын ала толық төлем жасау арқылы.</li>
			<li>10 000 рубльден асатын тапсырыстарға ДОЛЯМИ сервисімен бөліп төлеу.</li>
			<li>Заңды тұлғалар үшін шот бойынша, көтерме сауда 50 000 рубльден басталады.</li>
		</ul>
		<p>Жеке тұлғаның 15.000 рубльден асатын, онлайн төленген тапсырысын жеткізу біздің компания есебінен РФ және БР бойынша «CDEK» көлік компаниясының кез келген беру пунктіне дейін ТЕГІН жүзеге асырылады.</p>
	</div>
{% else %}
	<div class="div-width-100-text-center">
		<h3>Оплата и Доставка</h3>
	</div>
	<div>
		<div style="margin: 10px"><a target="_blank" class="btn btn-success" href="https://cupper-shop.ru/gde-kupit/"> <span class="full">&nbsp;&nbsp;Магазины, точки продаж&nbsp;&nbsp;</span> </a></div>
		<p>Наша компания осуществляет доставку своей продукции по всей территории России.</p>
		<p>Логистическим партнером нашей компании является компания CDEK.</p>
		<p>Способы, сроки и стоимость доставки заказов по территории России оговариваются персонально с менеджером интернет-магазина.</p>
		<p>Доставка за пределы Российской Федерации согласовывается индивидуально и осуществляется согласно нормам безопасности авиаперевозок.</p>
		<h4>Доставка</h4>
		<ul>
			<li>Забрать и оплатить оформленный заказ можно по адресу г. Москва, 2-я Рыбинская, д.13<br>(с Пн по Пт с 9-00 до 20-30, Сб-Вс с 9-30 до 18-00.)</li>
			<li>Доставкой Транспортной Компанией CDEK до адреса</li>
			<li>Доставкой ТК CDEK до пункта выдачи заказов</li>
			<li>Доставка ТК CDEK по Москве осуществляется на следующий день, либо через день с момента заказа и его согласования. Московская область - 2-3 дня.</li>
			<li>Доставка юридическим лицам может осуществляться другими транспортными компаниями по согласованию.</li>
		</ul>	
		<p>Проверьте, есть пункт выдачи ТК CDEK в вашем городе <a target="_blank" href="https://www.cdek.ru/contacts/city-list.html">https://www.cdek.ru/contacts/city-list.html</a></p>
		<p>Узнать статус посылки и другую дополнительную информацию можно по адресу: <a target="_blank" href="https://www.cdek.ru/track.html">https://www.cdek.ru/track.html</a></p>
		<h4>Проблемы с грузом?</h4>
		<p>Дорогие покупатели!
		<p>Мы делаем всё, чтобы Вы были довольны качеством наших товаров и услуг.</p>
		<p>К сожалению, существует проблема с качеством доставки, а именно, при получении груза на ТК наши покупатели сообщают о повреждении целостности упаковки или других проблемах. Ответственность за это полностью лежит на транспортной компании!</p>
		<p>Мы прилагаем все усилия для того, чтобы минимизировать такие случаи, но без Вашей помощи мы не сможем побороть халатное отношение транспортных компаний к грузам. Мы очень просим Вас помочь нам в этом.</p>
		<p>Так как все грузы застрахованы и проходят досмотр перед приёмкой, Вы имеете полное право отказаться от груза, составить акт и сделать фотографии при осмотре на пункте выдачи, но это только в случае, если Вы обнаружили дефекты и повреждения непосредственно при вскрытии посылки в самой ТК. Таким образом, будет легче идентифицировать состояние и предмет проблемы повреждения. Это очень важный момент!</p>
		<p>Все вопросы, предложения и запросы о повреждённом грузе, просьба отправлять на электронную почту: <a href="mailto:info@cupper.ru">info@cupper.ru</a></p>
		<p>В теме письма необходимо указать номер Вашего заказа и характер письма "Повреждение груза. Заказ №".</p>
		<p>Описывайте максимально подробную информацию о посылке, так же будет гораздо легче, если к письму Вы приложите фотографии и акт о повреждении груза.</p>
		<p>Только так, можно заставить транспортные компании качественно выполнять свои обязательства перед клиентами.</p>
		<p>Давайте вместе с Вами сделаем так, чтобы каждый из нас был доволен.</p>
		<p>Нам очень нужна Ваша помощь и Ваше содействие!</p>
		<p>Спасибо!</p>
		<h4>Оплата</h4>
		<ul>
			<li>При получении заказа в офисе Интернет-магазина наличными или банковской картой.</li>
			<li>По полной предоплате за заказ и доставку товара.</li>
			<li>Расрочка с сервисом ДОЛЯМИ на заказы от 10 000 рублей.</li> 
			<li>По счету для юридических лиц, оптовые продажи от 50 000 рублей.</li>
		</ul>
		<p>Заказ физического лица свыше 15.000 рублей, оплаченный онлайн, доставка осуществляется БЕСПЛАТНО, за счёт нашей компании до любого пункта выдачи транспортной компании «CDEK» по РФ и РБ.</p>
	</div>	
{% endif %}
{% endblock content %}
