{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Catalog list" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "Catalog list" %}</h2>

<div class="row" style="margin: 10px">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<h3 align="center">{% trans "Search" %}</h3>
				<hr>
				<table>
					<tbody>
						<tr>
							<td>
								<p>{% trans "category" %}</p>
							</td>
							<td>
								<select name="item_category" class="chosen" style="margin:5px">
									<option value="-----">-----</option>
									{% for entry in category %}
										{% if entry.category_title == selected_item_category %}
											<option value="{{ entry.category_title }}" selected="selected">{{ entry.category_title }}</option>
										{% else %}
											<option value="{{ entry.category_title }}">{{ entry.category_title }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<p>{% trans "title" %}</p>
							</td>
							<td>
								<input class="form-control mr-sm-2" type="search" value="{{catalog_search}}" name="catalog_search">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h3 align="center">{% trans "Sort" %}</h3>
				<hr>
				<div class="row">
					<div class="col-md-6">
						{% if sort == 'category' %}
							<p><input name="radio_sort" type="radio" value="category" checked="checked"> {% trans "category" %}</p>
						{% else %}
							<p><input name="radio_sort" type="radio" value="category"> {% trans "category" %}</p>
						{% endif %}
						{% if sort == 'title' %}
							<p><input name="radio_sort" type="radio" value="title" checked="checked"> {% trans "title" %}</p>
						{% else %}
							<p><input name="radio_sort" type="radio" value="title"> {% trans "title" %}</p>
						{% endif %}
						{% if sort == 'price' %}
							<p><input name="radio_sort" type="radio" value="price" checked="checked"> {% trans "price" %}</p>
						{% else %}
							<p><input name="radio_sort" type="radio" value="price"> {% trans "price" %}</p>
						{% endif %}
					</div>
					<div class="col-md-6">
						{% if direction == 'ok' %}
							<input type="checkbox" id="checkbox_sort_desc" name="checkbox_sort_desc" value="ok" checked>
						{% else %}
							<input type="checkbox" id="checkbox_sort_desc" name="checkbox_sort_desc" value="ok">
						{% endif %}
						<label for="checkbox_sort_desc" >{% trans "desc" %}</label><br>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row justify-content-center">
			<button class="btn btn-outline-success" name="searchBtn" style="width:120px; margin:5px">{% trans "Go" %}</button>
			<button class="btn btn-outline-primary" name="resetBtn" type="submit" onClick="window.location.reload();" style="width:120px; margin:5px">{% trans "Reset" %}</button>
		</div>
	</form>
</div>

{% if catalog.count > 0 %}
<hr>
<div class="row">
{% for c in catalog %}
	<!-- <div class="col-lg-4s col-md-4 col-6 thumb" style="margin-top: 5px;"> -->
	<div style="margin-top: 5px;">
	<!-- <div class="card"> -->
		<div class="card-header">
			<h5>{{ c.category }}</h5>
			<h4 class="card-title">{{ c.catalog_title }}</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					{% if c.id == 1 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog01.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 2 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog02.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 3 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog03.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 4 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog04.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 5 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog05.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 6 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog06.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 7 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog07.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 8 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog08.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 9 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog09.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 10 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog10.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 11 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog11.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 12 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog12.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 13 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog13.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 14 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog14.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 15 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog15.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 16 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog16.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 17 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog17.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 18 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog18.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 19 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog19.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 20 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog20.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 21 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog21.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 22 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog22.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 23 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog23.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 24 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog24.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 25 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog25.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 26 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog26.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 27 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog27.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 28 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog28.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 29 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog29.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 30 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog30.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 31 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog31.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 32 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog32.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 33 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog33.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 34 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog34.jpg' %}" alt="{{ c.photo.url }}">
					{% elif c.id == 35 %}
						<img style="height:200px; max-width:200px;" src="{% static 'images/catalog35.jpg' %}" alt="{{ c.photo.url }}">
					{% else %}
						{% if c.photo.url != None %}
							<img style="width:100%" src="{{ c.photo.url}}" alt="{{ c.photo.url }}">
						{% endif %}
					{% endif %}
					<p><div class="Stars" style='--rating: {{ c.avg_rating| stringformat:".1f" }};'></div></p>
				</div>
				<div class="col-md-9">
					<p>{{ c.details | linebreaks}}</p>
					<h4>{{ c.price | stringformat:"1.0f" }} ₸</h4>
					<a class="btn btn-info" href="{% url 'catalog_details' c.id %}">{% trans "Catalog details" %}</a>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<p><a href="{% url 'question_create' c.id %}">{% trans "Ask" %}</a></p>
			<p><a href="{% url 'review_create' c.id %}">{% trans "review_create" %}</a></p>
		</div>
	<!-- </div> -->
	</div>
{% endfor %}
</div>
{% endif %}

{% endblock content %}

